@import url("fonts/iransans.css");
@import url("fonts/all.min.css");
@import url("pure_drawer/pure-drawer.css");

body{
    font-family: IRANSans, Serif !important;
}

/* Main Navigation Bar*/
.nav-header {
    background: transparent;
    height: 200px;
    overflow: hidden;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
    line-height: 160px;
}

.nav-header.shrink {
    background: #fffbfa;
    height: 120px;
    line-height: 80px;
}

.nav-header h1
{
    font-size:30px;
    font-weight:normal;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.nav-header.shrink h1
{
    font-size:24px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.content
{
    height:2000px;
    /*just to get the page to scroll*/
}
#cover {
    padding-top: 50px;
    background: url("../images/main.png") scroll no-repeat center;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

    height: 100vh;
}
/* Sidebar */


/* Footer Section */
footer {
    height: 300px;
    background-color: #92b8c3;
    position: relative;
}
footer .footer-inner {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 40px 60px;
    width: 100%;
}
footer .footer-inner * {
    color: #fff;
}
footer .logo {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 80px;
    transform: translateY(50px);
    opacity: 0;
    transition: transform, opacity;
    transition-duration: 0.8s;
    transition-timing-function: ease;
}
footer .logo.show {
    transform: translateY(0);
    opacity: 1;
}
footer nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
