<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login To Medida</title>

    <!-- Login.css -->
    <link href="../../assets/css/login.css" rel="stylesheet" />
</head>
<body>

<div class="form-structor">

    <div class="signup">
        <h2 class="form-title" id="signup"><span>or</span>Sign up</h2>
        <div class="form-holder">
            <input type="text" class="input" placeholder="Name" />
            <input type="email" class="input" placeholder="Email" />
            <input type="password" class="input" placeholder="Password" />
        </div>
        <button class="submit-btn">Sign up</button>
    </div>

    <div class="login slide-up">
        <div class="center">
            <h2 class="form-title" id="login"><span>or</span>Log in</h2>
            <div class="form-holder">
                <input type="email" class="input" placeholder="Email" />
                <input type="password" class="input" placeholder="Password" />
            </div>
            <button class="submit-btn">Log in</button>
        </div>
    </div>

    <div class="forget slide-up">
        <div class="center">
            <h2 class="form-title" id="forget"><span>or</span>Forget Password</h2>
            <div class="form-holder">
                <input type="email" class="input" placeholder="Email" />
            </div>
            <button class="submit-btn">Forget Password</button>
        </div>
    </div>


</div>

    <!-- Required Javascript -->
    <script src="../../assets/js/jquery-3.2.1.slim.min.js"></script>

    <!-- Login js -->
    <script src="../../assets/js/login.js" type="text/javascript"></script>

</body>
</html>